nav {
  height: 3.5rem;
  background: #000;
  color: white;
  position: absolute;
  width: 100%;
  top: 0;
}

nav > * {
  display: inline-block;
  margin: 0;
}

nav > button {
  outline: none;
  background: none;
  color: white;
  border: none;
  font-size: 1rem;
  height: 3.5rem;
  cursor: pointer;
}

nav > button:hover {
  background: grey;
}

#content {
  margin-top: 3.5rem;
}

.cook-color {
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  border-radius: 5px;
}

.cook-info {
  display: inline-block;
}

.cook-block {
  padding: .5rem;
}

.cook-block > * {
  margin: 0 1rem;
}