nav {
  height: 3.5rem;
  background: #000;
  color: white;
  position: absolute;
  width: 100%;
  top: 0;
}

nav > * {
  display: inline-block;
  margin: 0;
}

nav > button {
  outline: none;
  background: none;
  color: white;
  border: none;
  font-size: 1rem;
  height: 3.5rem;
  cursor: pointer;
}

nav > button:hover {
  background: grey;
}

#content {
  margin-top: 3.5rem;
}

.cook-color {
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  border-radius: 5px;
}

.cook-info {
  display: inline-block;
}

.cook-block {
  padding: .5rem;
}

.cook-block > * {
  margin: 0 1rem;
}

table {
  font-size: 2rem;
  text-align: center;
}

table td {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

table button {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  border-color: yellowgreen;
  border-style: solid;
}

#backdrop {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .4);
  position: absolute;
  top: 0;
  text-align: center;
}

#modal {
  width: 75%;
  height: 25rem;
  position: absolute;
  background-color: white;
  border-radius: 1rem;
  box-shadow: .5rem .5rem .5rem #000;
  overflow: hidden;
  z-index: 0;
  text-align: center;
}

#modal-header {
  background-color: darkslategrey;
  color: white;
  padding: .5rem
}

#modal-header h3 {
  margin: 0;
}