html {
  background-color: #444444;
  height: 100%;
  color: #FBF9FA;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  margin-bottom: .5rem;
  padding-top: 1rem;
}

button {
  font-family: 'Ubuntu', sans-serif;
  background: none;
  border: none;
  color: #FBF9FA;
}

nav {
  height: 3.5rem;
  background: #62BD4B;
  position: fixed;
  width: 100%;
  top: 0;
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 0 1rem black;
}

nav > * {
  display: inline-block;
  margin: 0;
}

nav > button {
  outline: none;
  background: none;
  color: #FBF9FA;
  border: none;
  font-size: 1rem;
  height: 3.5rem;
  cursor: pointer;
  padding-right: 2rem;
  padding-left: 2rem;
}

nav > button:hover, nav > button:active {
  background:#53AE3C;
}

#content {
  margin-top: 3.5rem;
}

.cook-color {
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  border-radius: 5px;
  bottom: 0;
  margin: 0 .5rem -.35rem 0;
}

.cook-info {
  display: inline-block;
}

.cook-block button {
  padding: 0;
  height: 1.75rem;
  width: 1.75rem;
  box-shadow: none;
}

.delete {
  margin-right: 1rem;
}

#calendar-container {
  width: 19rem;
  height: 15rem;
}

.card {
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 2rem;
}

.light-color {
  background-color: #FBF9FA;
  color: #444444;
}

.dark-color {
  background-color: #1f1f1f;
  color: #FBF9FA;
}

.accent2-color {
  background-color: #E84329;
  color: #FBF9FA;
}

.primary-color {
  background-color: #62BD4B;
  color: #FBF9FA;
}

.accent1-color {
  background-color: #CBA06A;
  color: #444444;
}

#calendar-month-year {
  display: inline-block;
  margin: 1rem 1rem;
  width: 13rem;
}

#calendar-controls button {
  font-size: 2rem;
}

table {
  text-align: center;
}

table td {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

table button {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  border-color: yellowgreen;
  border-style: solid;
  color: #FBF9FA;
  outline: none;
}

.heading {
  color: #62BD4B;
  margin: 0;
}

.left-text-card {
  text-align: left;
  width: 19rem;
}

#backdrop {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .4);
  top: 0;
  left: 0;
  text-align: center;
  position: fixed;
}

#modal {
  position: relative;
  overflow: hidden;
  z-index: 0;
  text-align: center;
  margin: 0 auto;
  padding: 1.5rem;
}

#modal-header {
  margin: 0 0 2rem 0;
}

#modal-header h3 {
  margin: 0;
}

.radio {
  display: block;
  text-align: left;
  margin-bottom: .5rem;
}

.btn {
  padding: .75rem 2rem;
  box-shadow: none !important;
}

#modal-submit {
  margin-top: 1rem;
}

.basic-style {
  border-radius: .3rem;
  box-shadow: 0 0 .5rem black;
}

input:not([type]), input[type='text'], input[type='number'] {
  background-color: transparent;
  border-width: 0;
  border-bottom: 1px solid #62BD4B;
  outline: none;
  color: white;
  font-size: 1.25rem;
  display: block;
  width: 15rem;
  padding: .5rem 0;
}

.cook-input {
  text-align: left;
  width: 15rem;
  margin: 0 auto;
  padding-bottom: 1rem;
}

#cook-form label {
  color: #62BD4B;
  font-size: .85rem;
}

#cook-form {
  margin-bottom: 2rem;
}

input[type="color"] {
  border: none;
  width: 15rem;
  display: block;
  margin: .5rem 0;
}